
/* color varaibles */
:root {
    --blush: #fc93a6;
    --blush-button: #e7ca52;

    --orange: #ffce4b;
    --orange-button: #e7ca52;
    
    --green: #50d38a;
    --green-button: #5cdb94;

    --cyan: #49c5b6;
    --cyan-button: #45e5c3;

    --purple: #ac68cc;
    --purple-button: #c18eda;
    
    /* --old-blue: #3eacff; */
    --blue: #0047BB;
    --blue-button: #60bafd;

    --highlights: #78909c;
    --white: #fff;
}

.theme-purple.menu_sm .sidebar .list li .ml-menu a {
	color: var(--highlights)
}

.theme-purple.menu_sm .sidebar .list li .ml-menu a::before {
	color: var(--highlights)
}

.theme-purple.menu_sm .sidebar .list li .ml-menu a:hover {
	background: var(--new-purple);
	color: var(--white)
}

.theme-purple .btn-primary {
	background: var(--new-purple)
}

.theme-purple .btn-primary:active,
.theme-purple .btn-primary:hover,
.theme-purple .btn-primary:focus {
	background: var(--purple-button)
}

.theme-purple .btn-primary.btn-simple {
	border-color: var(--new-purple);
	color: var(--new-purple);
	background: transparent
}

.theme-purple .page-loader-wrapper {
	background: var(--new-purple)
}

.theme-purple .sidebar .menu .list li.active.open {
	background: var(--new-purple)
}

.theme-purple .sidebar .menu .list a:hover {
	color: var(--new-purple)
}

.theme-purple .checkbox input[type="checkbox"]:checked+label::after {
	border-color: var(--new-purple);
	background: var(--new-purple);
	color: var(--white);
}

.theme-purple .nav-tabs .nav-link.active {
	border: 1px solid var(--new-purple) !important;
	background: var(--new-purple);
	color: var(--white)
}

.theme-purple .card .header h2:before {
	background: var(--new-purple)
}

.theme-purple .card .header h2 strong {
	color: var(--new-purple)
}

.theme-purple .card .header .dropdown-menu li a:hover {
	background-color: var(--new-purple);
	color: var(--white)
}

.theme-purple .chat-widget li.left .message {
	background: var(--new-purple)
}

.theme-purple .chat .chat-header {
	background: var(--new-purple)
}

.theme-purple .authentication .navbar,
.theme-purple .authentication .page-header {
	background: var(--new-purple) !important
}

.theme-purple .menu-container ul>li>ul>li a:hover,
.theme-purple .menu-container ul.normal-sub>li a:hover {
	background: var(--new-purple)
}

.theme-purple .form-control:focus,
.theme-purple .form-control:focus+.input-group-addon,
.theme-purple .form-control:focus~.input-group-addon {
	border-color: var(--new-purple)
}

.theme-blue.menu_sm .sidebar .list li .ml-menu a {
	color: var(--highlights)
}

.theme-blue.menu_sm .sidebar .list li .ml-menu a::before {
	color: var(--highlights)
}

.theme-blue.menu_sm .sidebar .list li .ml-menu a:hover {
	background: var(--blue);
	color: var(--white)
}

.theme-blue .btn-primary {
	background: var(--blue)
}

.theme-blue .btn-primary:active,
.theme-blue .btn-primary:hover,
.theme-blue .btn-primary:focus {
	background: var(--blue-button)
}

.theme-blue .btn-primary.btn-simple {
	border-color: var(--blue);
	color: var(--blue);
	background: transparent
}

.theme-blue .page-loader-wrapper {
	background: var(--blue)
}

.theme-blue .sidebar .menu .list li.active.open {
	background: var(--blue)
}

.theme-blue .sidebar .menu .list a:hover {
	color: var(--blue)
}

.theme-blue .checkbox input[type="checkbox"]:checked+label::after {
	border-color: var(--blue);
	background: var(--blue);
	color: var(--white);
}

.theme-blue .nav-tabs .nav-link.active {
	border: 1px solid var(--blue) !important;
	background: var(--blue);
	color: var(--white)
}

.theme-blue .card .header h2:before {
	background: var(--blue)
}

.theme-blue .card .header h2 strong {
	color: var(--blue)
}

.theme-blue .card .header .dropdown-menu li a:hover {
	background-color: var(--blue);
	color: var(--white)
}

.theme-blue .chat-widget li.left .message {
	background: var(--blue)
}

.theme-blue .chat .chat-header {
	background: var(--blue)
}

.theme-blue .authentication .navbar,
.theme-blue .authentication .page-header {
	background: var(--blue) !important
}

.theme-blue .menu-container ul>li>ul>li a:hover,
.theme-blue .menu-container ul.normal-sub>li a:hover {
	background: var(--blue)
}

.theme-blue .form-control:focus,
.theme-blue .form-control:focus+.input-group-addon,
.theme-blue .form-control:focus~.input-group-addon {
	border-color: var(--blue)
}

.theme-cyan.menu_sm .sidebar .list li .ml-menu a {
	color: var(--highlights)
}

.theme-cyan.menu_sm .sidebar .list li .ml-menu a::before {
	color: var(--highlights)
}

.theme-cyan.menu_sm .sidebar .list li .ml-menu a:hover {
	background: var(--new-cyan);
	color: var(--white)
}

.theme-cyan .btn-primary {
	background: var(--new-cyan)
}

.theme-cyan .btn-primary:active,
.theme-cyan .btn-primary:hover,
.theme-cyan .btn-primary:focus {
	background: var(--cyan-button)
}

.theme-cyan .btn-primary.btn-simple {
	border-color: var(--new-cyan);
	color: var(--new-cyan);
	background: transparent
}

.theme-cyan .page-loader-wrapper {
	background: var(--new-cyan)
}

.theme-cyan .sidebar .menu .list li.active.open {
	background: var(--new-cyan)
}

.theme-cyan .sidebar .menu .list a:hover {
	color: var(--new-cyan)
}

.theme-cyan .checkbox input[type="checkbox"]:checked+label::after {
	border-color: var(--new-cyan);
	background: var(--new-cyan);
	color: var(--white);
}

.theme-cyan .nav-tabs .nav-link.active {
	border: 1px solid var(--new-cyan) !important;
	background: var(--new-cyan);
	color: var(--white)
}

.theme-cyan .card .header h2:before {
	background: var(--new-cyan)
}

.theme-cyan .card .header h2 strong {
	color: var(--new-cyan)
}

.theme-cyan .card .header .dropdown-menu li a:hover {
	background-color: var(--new-cyan);
	color: var(--white)
}

.theme-cyan .chat-widget li.left .message {
	background: var(--new-cyan)
}

.theme-cyan .chat .chat-header {
	background: var(--new-cyan)
}

.theme-cyan .authentication .navbar,
.theme-cyan .authentication .page-header {
	background: var(--new-cyan) !important
}

.theme-cyan .menu-container ul>li>ul>li a:hover,
.theme-cyan .menu-container ul.normal-sub>li a:hover {
	background: var(--new-cyan)
}

.theme-cyan .form-control:focus,
.theme-cyan .form-control:focus+.input-group-addon,
.theme-cyan .form-control:focus~.input-group-addon {
	border-color: var(--new-cyan)
}

.theme-green.menu_sm .sidebar .list li .ml-menu a {
	color: var(--highlights)
}

.theme-green.menu_sm .sidebar .list li .ml-menu a::before {
	color: var(--highlights)
}

.theme-green.menu_sm .sidebar .list li .ml-menu a:hover {
	background: var(--green);
	color: var(--white)
}

.theme-green .btn-primary {
	background: var(--green)
}

.theme-green .btn-primary:active,
.theme-green .btn-primary:hover,
.theme-green .btn-primary:focus {
	background: var(--green-button)
}

.theme-green .btn-primary.btn-simple {
	border-color: var(--green);
	color: var(--green);
	background: transparent
}

.theme-green .page-loader-wrapper {
	background: var(--green)
}

.theme-green .sidebar .menu .list li.active.open {
	background: var(--green)
}

.theme-green .sidebar .menu .list a:hover {
	color: var(--green)
}

.theme-green .checkbox input[type="checkbox"]:checked+label::after {
	border-color: var(--green);
	background: var(--green);
	color: var(--white);
}

.theme-green .nav-tabs .nav-link.active {
	border: 1px solid var(--green) !important;
	background: var(--green);
	color: var(--white)
}

.theme-green .card .header h2:before {
	background: var(--green)
}

.theme-green .card .header h2 strong {
	color: var(--green)
}

.theme-green .card .header .dropdown-menu li a:hover {
	background-color: var(--green);
	color: var(--white)
}

.theme-green .chat-widget li.left .message {
	background: var(--green)
}

.theme-green .chat .chat-header {
	background: var(--green)
}

.theme-green .authentication .navbar,
.theme-green .authentication .page-header {
	background: var(--green) !important
}

.theme-green .menu-container ul>li>ul>li a:hover,
.theme-green .menu-container ul.normal-sub>li a:hover {
	background: var(--green)
}

.theme-green .form-control:focus,
.theme-green .form-control:focus+.input-group-addon,
.theme-green .form-control:focus~.input-group-addon {
	border-color: var(--green)
}

.theme-orange.menu_sm .sidebar .list li .ml-menu a {
	color: var(--highlights)
}

.theme-orange.menu_sm .sidebar .list li .ml-menu a::before {
	color: var(--highlights)
}

.theme-orange.menu_sm .sidebar .list li .ml-menu a:hover {
	background: var(--orange);
	color: var(--white)
}

.theme-orange .btn-primary {
	background: var(--orange)
}

.theme-orange .btn-primary:active,
.theme-orange .btn-primary:hover,
.theme-orange .btn-primary:focus {
	background: var(--orange-button)
}

.theme-orange .btn-primary.btn-simple {
	border-color: var(--orange);
	color: var(--orange);
	background: transparent
}

.theme-orange .page-loader-wrapper {
	background: var(--orange)
}

.theme-orange .sidebar .menu .list li.active.open {
	background: var(--orange)
}

.theme-orange .sidebar .menu .list a:hover {
	color: var(--orange)
}

.theme-orange .checkbox input[type="checkbox"]:checked+label::after {
	border-color: var(--orange);
	background: var(--orange);
	color: var(--white);
}

.theme-orange .nav-tabs .nav-link.active {
	border: 1px solid var(--orange) !important;
	background: var(--orange);
	color: var(--white)
}

.theme-orange .card .header h2:before {
	background: var(--orange)
}

.theme-orange .card .header h2 strong {
	color: var(--orange)
}

.theme-orange .card .header .dropdown-menu li a:hover {
	background-color: var(--orange);
	color: var(--white)
}

.theme-orange .chat-widget li.left .message {
	background: var(--orange)
}

.theme-orange .chat .chat-header {
	background: var(--orange)
}

.theme-orange .authentication .navbar,
.theme-orange .authentication .page-header {
	background: var(--orange) !important
}

.theme-orange .menu-container ul>li>ul>li a:hover,
.theme-orange .menu-container ul.normal-sub>li a:hover {
	background: var(--orange)
}

.theme-orange .form-control:focus,
.theme-orange .form-control:focus+.input-group-addon,
.theme-orange .form-control:focus~.input-group-addon {
	border-color: var(--orange)
}

.theme-blush.menu_sm .sidebar .list li .ml-menu a {
	color: var(--highlights)
}

.theme-blush.menu_sm .sidebar .list li .ml-menu a::before {
	color: var(--highlights)
}

.theme-blush.menu_sm .sidebar .list li .ml-menu a:hover {
	background: var(--blush);
	color: var(--white)
}

.theme-blush .btn-primary {
	background: var(--blush)
}

.theme-blush .btn-primary:active,
.theme-blush .btn-primary:hover,
.theme-blush .btn-primary:focus {
	background: #ffafbd
}

.theme-blush .btn-primary.btn-simple {
	border-color: var(--blush);
	color: var(--blush);
	background: transparent
}

.theme-blush .page-loader-wrapper {
	background: var(--blush)
}

.theme-blush .sidebar .menu .list li.active.open {
	background: var(--blush)
}

.theme-blush .sidebar .menu .list a:hover {
	color: var(--blush)
}

.theme-blush .checkbox input[type="checkbox"]:checked+label::after {
	border-color: var(--blush);
	background: var(--blush);
	color: var(--white);
}

.theme-blush .nav-tabs .nav-link.active {
	border: 1px solid var(--blush) !important;
	background: var(--blush);
	color: var(--white)
}

.theme-blush .card .header h2:before {
	background: var(--blush)
}

.theme-blush .card .header h2 strong {
	color: var(--blush)
}

.theme-blush .card .header .dropdown-menu li a:hover {
	background-color: var(--blush);
	color: var(--white)
}

.theme-blush .chat-widget li.left .message {
	background: var(--blush)
}

.theme-blush .chat .chat-header {
	background: var(--blush)
}

.theme-blush .authentication .navbar,
.theme-blush .authentication .page-header {
	background: var(--blush) !important
}

.theme-blush .menu-container ul>li>ul>li a:hover,
.theme-blush .menu-container ul.normal-sub>li a:hover {
	background: var(--blush)
}

.theme-blush .form-control:focus,
.theme-blush .form-control:focus+.input-group-addon,
.theme-blush .form-control:focus~.input-group-addon {
	border-color: var(--blush)
}